<h1>Available Events</h1>

<ul>
    <h3>Future Events</h3>
    <% @events.future_events.each do |event| %>
        <li>
            <%= link_to event do %>
                <h3><%= event.name %>, <%= event.date %></h3>
            <% end %>
        </li>
    <% end %>
</ul>

<ul>
    <h3>Past Events</h3>
    <% @events.past_events.each do |event| %>
        <li>
            <%= link_to event do %>
                <h3><%= event.name %>, <%= event.date %></h3>
            <% end %>
        </li>
    <% end %>
</ul>